* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    display: flex;
}

.stores {
    flex: 1;
    overflow-y: scroll;
}

.table-space {
    overflow-y: scroll;
}

.search-container__title {
    padding: 20px;
}

.search-container__input-elements {
    display: flex;
    background-color: #eff4f8;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #d0dfec;
    position: relative;
}

.search-container__search-input {
    padding: 4px 0;
    font-size: 16px;
    border: none;
}

.search-container__input-elements__group-buttons {
    display: flex;
}

.search-container__input-elements__button {
    font-size: 23px;
    border: none;
    background-color: #fff;
}

.input-elements__button__search-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="19" viewBox="0 -960 960 960" width="19" fill="rgb(85, 125, 159)"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" /></svg>');
}

.input-elements__button__refresh-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="19" viewBox="0 -960 960 960" width="19" fill="rgb(85, 125, 159)"><path d="M482-160q-134 0-228-93t-94-227v-7l-64 64-56-56 160-160 160 160-56 56-64-64v7q0 100 70.5 170T482-240q26 0 51-6t49-18l60 60q-38 22-78 33t-82 11Zm278-161L600-481l56-56 64 64v-7q0-100-70.5-170T478-720q-26 0-51 6t-49 18l-60-60q38-22 78-33t82-11q134 0 228 93t94 227v7l64-64 56 56-160 160Z" /></svg>');
}

.search-container {
    position: relative;
    background-color: #eff4f8;
    box-sizing: border-box;
}

.search-container__search-button,
.search-container__refresh-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.store-detail__header {
    background-color: #eff4f8;
    padding: 15px;
}

footer {
    background-color: #434f5b;
    opacity: .8;
    text-align: right;
    border-radius: 2px;
}

.stores-list {
    margin-bottom: 50px;
}

.stores-list__item {
    display: flex;
    padding: 10px;
}

.stores-list__item__left {
    flex: 3;
}

.stores-list__item__item-name {
    margin-bottom: 20px;
}

.stores-list__item__item-square {
    position: relative;
}

.stores-list__item__item-square::after {
    margin-top: 5px;
    position: absolute;
    top: 15px;
    right: 1px;
    font-size: 10px;
    content: "sq.m";
}

.stores-list__item__item-address {
    font-size: 12px;
}

.search-container__title {
    padding-bottom: 20px;
}

.action-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}

.action-buttons-main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
}

.action-buttons__button {
    width: 26px;
    height: 18px;
    border: none;
    background-color: #d1e0ea;
}

.action-buttons__button:hover {
    cursor: pointer;
    opacity: .7;
}

.store-detail__header__title {
    padding: 10px 40px;
    border-bottom: 2px solid #d0dfec;
}

.store-info {
    display: flex;
}

.store-detail__header__title>h3 {
    margin-bottom: 30px;
}

.store-info__left {
    margin-right: 20px;
}

.store-info__item-email,
.store-info__item-phone,
.store-info__item-address,
.store-info__item-date,
.store-info__item-square {
    font-weight: bold;
}

.filter-buttons:nth-child(1) {
    border-right: 1px solid #434f5b;
}

.stores__footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 90%;
    background-color: #434f5b;
    left: 5px;
    bottom: 5px;
}

.store-detail__footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 96%;
    background-color: #434f5b;
    left: 10px;
    bottom: 5px;
}

.stores-list-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.store-detail-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 4;
    position: relative;
}

.filter-buttons {
    display: flex;
    border-bottom: 2px solid #d0dfec;
}

.filter-buttons__all {
    display: flex;
    background: none;
    border-right: 2px solid #e5e4e6;
    padding-right: 20px;
    margin-left: 40px;
}

.filter-buttons__sort {
    margin-left: 20px;
}

.filter-buttons__filter-button-all,
.filter-buttons__filter-button-ok,
.filter-buttons__filter-button-storage,
.filter-buttons__filter-button-out_of_stock {
    box-sizing: border-box;
    padding: 20px;
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.filter-buttons__filter-button-all>p {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.filter-buttons__filter-button-ok>p,
.filter-buttons__filter-button-storage>p,
.filter-buttons__filter-button-out_of_stock>p {
    display: inline;
    font-size: 20px;
    margin-right: 5px;
}

.filter-buttons__filter-button-all>span {
    font-size: 10px;
}

.filter-buttons__filter-button-ok>svg,
.filter-buttons__filter-button-storage>svg,
.filter-buttons__filter-button-out_of_stock>svg {
    display: block;
    margin-bottom: 5px;
}

.filter-buttons__filter-button-all:hover,
.filter-buttons__filter-button-ok:hover,
.filter-buttons__filter-button-storage:hover,
.filter-buttons__filter-button-out_of_stock:hover {
    border-bottom: 2px solid #386f9d;
}

.filter-buttons__filter-button-ok>span:nth-child(1),
.filter-buttons__filter-button-storage>span:nth-child(1),
.filter-buttons__filter-button-out_of_stock>span:nth-child(1) {
    display: block;
}



.products-table {
    font-size: 13px;
    width: 100%;
    margin: 10px auto 40px;
    border-collapse: collapse;
    table-layout: fixed;
}

.stores-list__item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.search-container__input-elements__button:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.search-container__input-elements__button {
    transition: filter 0.3s ease;
}

.stores-footer__button--create {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 5px;
    border: solid #c4dff5;
    color: #c4dff5;
    border-radius: 3px;
    background-color: #405664;
}

.stores-footer__button--create-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18" fill="rgb(196, 223, 245)"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" /></svg>');
}

.stores-footer__button--create:hover,
.stores-footer__button--delete:hover {
    opacity: .8;
    cursor: pointer;
}

.stores-footer__button--delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 5px;
    border: solid #fe8b8f;
    color: #fe8b8f;
    border-radius: 3px;
    background-color: #405664;
}

.stores-footer__button--delete-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18" fill="rgb(254, 139, 143)"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg>');
}

.table-row-product:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.products-table__cell__name,
.products-table__cell__price,
.products-table__cell__specs,
.products-table__cell__supplier-info,
.products-table__cell__country,
.products-table__cell__prod-company,
.products-table__cell__rating,
.products-table__cell__js-scenario-buttons {
    cursor: pointer;
    border-bottom: 1px solid #f4f4f4;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products-table__cell__js-scenario-buttons {
    text-align: right;
    padding-right: 50px;
}

.products-table__cell__name p:first-child {
    font-weight: bold;
    margin-bottom: 15px;
}

.products-table__header {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.products-table__column-names {
    background-color: #f2f2f2;
    position: sticky;
    top: -1px;
    z-index: 1;
}

.products-table__column-names__cell-header__name,
.products-table__column-names__cell-header__price,
.products-table__column-names__cell-header__specs,
.products-table__column-names__cell-header__supplier-info,
.products-table__column-names__cell-header__country,
.products-table__column-names__cell-header__prod-company,
.products-table__column-names__cell-header__rating,
.products-table__column-names__cell-header__expand {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.products-table__column-names__cell-header__price,
.products-table__cell__price {
    text-align: right;
}

.usd-span {
    margin-left: 4px;
}

.store-detail__titleandbuttons {
    position: relative;
}

@media screen and (max-width: 768px) {
    .stores-list-container {
        display: none;
    }

    .store-detail-container {
        flex: 1;
    }
}

.js-selected-store {
    background-color: #e0e0e0;
}

.store-detail__header__is-not-selected {
    text-align: center;
}

.table-space__empty {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-space__is-not-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-space__is-not-selected p {
    color: grey;
    margin: 10px 0;
}

p.store-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="100" viewBox="0 -960 960 960" width="100" fill="rgb(159, 159, 159)"><path d="M160-720v-80h640v80H160Zm0 560v-240h-40v-80l40-200h640l40 200v80h-40v240h-80v-240H560v240H160Zm80-80h240v-160H240v160Zm-38-240h556-556Zm0 0h556l-24-120H226l-24 120Z" /></svg>');
}

.table-space__is-not-selected>p:nth-child(2) {
    font-weight: 900;
    font-size: 22px;
}

.js-expandable-cell {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.js-expandable-text {
    white-space: normal;
    word-wrap: break-word;
    overflow: visible;
}

.js-sort-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="rgb(85, 125, 159)"><path d="M320-440v-287L217-624l-57-56 200-200 200 200-57 56-103-103v287h-80ZM600-80 400-280l57-56 103 103v-287h80v287l103-103 57 56L600-80Z"/></svg>');
    background-color: #f2f2f2;
    margin-right: 5px;
}

.js-sort-icon:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.js-sort-icon-asc {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="rgb(85, 125, 159)" transform="rotate(180)"><path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/></svg>');
    background-color: #f2f2f2;
    margin-right: 5px;
}

.js-sort-icon-asc:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.js-sort-icon-desc {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="rgb(85, 125, 159)"><path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/></svg>');
    background-color: #f2f2f2;
    margin-right: 5px;
}

.js-sort-icon-desc:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.edit-product-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="rgb(85, 125, 159)"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>');
    margin-right: 10px;
}

.edit-product-icon:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    filter: brightness(80%);
}

.js-delete-product-button {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="rgb(85, 125, 159)"><path d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
}

.js-delete-product-button:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    filter: brightness(80%);
}

.js-selected-filter-status {
    border-bottom: 2px solid #386f9d;
}

.collapse-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18" fill="rgb(85, 125, 159)"><path d="m296-345-56-56 240-240 240 240-56 56-184-184-184 184Z" /></svg>');
}

.pin-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18" fill="rgb(85, 125, 159)"><path d="m640-480 80 80v80H520v240l-40 40-40-40v-240H240v-80l80-80v-280h-40v-80h400v80h-40v280Zm-286 80h252l-46-46v-314H400v314l-46 46Zm126 0Z" /></svg>');
}

.ok-status-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="green"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
}

.storage-status-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="yellow"><path d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z" /></svg>');
}

.out-status-icon {
    content: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="red"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" /></svg>');
}


.window-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

.window-form {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 41vw;
    height: 61vh;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    margin-top: 18vh;
}

.form-create {
    display: flex;
    flex-direction: column;
}

.form-create input {
    width: 20vw;
    margin: 1vh 0vw;
}

.window-form__header {
    font-weight: 100;
    border-bottom: solid 1px #b8b7b7;
    width: 100%;
    text-align: center;
}

.form-create__footer {
    width: 100%;
    background-color: rgb(52, 62, 70);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.create-store-button {
    background-color: #5191c5;
    border: none;
    padding: 1vh;
    color: #d8e8f1;
    border-radius: 1vh;
    font-size: 15px;
}

.create-store-button:hover,
.cancel-store-form-button:hover,
.delete-store-ok-button:hover,
.delete-product-ok-button:hover,
.close-confrim-popup-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cancel-store-form-button {
    background-color: #2f3b47;
    border: none;
    color: #aec7da;
    padding: 1vh;
    border-radius: 1vh;
    font-size: 15px;
}

.form-create label::before {
    content: '*';
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.window-form_product {
    height: 80vh;
    margin-top: 8vh;
}

.input-price::after {
    content: '  USD';
}

.window-form_delete {
    height: 30vh;
    width: 29vw;
    margin-left: 37vw;
    margin-top: 32vh;
    background-color: rgb(255, 255, 255);
}

.delete-store-ok-button,
.delete-product-ok-button {
    background-color: #5191c5;
    border: none;
    padding: 1vh;
    color: #d8e8f1;
    border-radius: 1vh;
    font-size: 15px;
}

.close-confrim-popup-button {
    background-color: #2f3b47;
    border: none;
    color: #aec7da;
    padding: 1vh;
    border-radius: 1vh;
    font-size: 15px;
    margin-right: 10px;
}

.form-delete-store p,
.form-delete-product p {
    text-align: center;
    padding: 9vh 0vw 6vh 0vw;
}

.form-confirm__footer {
    display: flex;
    justify-content: space-around;
}

.delete-store-ok-button,
.delete-product-ok-button {
    width: 2.5rem;
}

.lds-dual-ring {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.stores-list__no-matching {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}

.form-create-store input:invalid:required,
.form-create-product input:invalid:required,
.form-edit-product input:invalid:required {
    background-color: rgb(242, 186, 186);
}

.form-create-store input:valid,
.form-create-product input:valid,
.form-edit-product input:valid {
    border: 2px solid black;
}